@media (max-width: 485px) {

    body {
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
    }
    .none_480px {
        display: none;
    }
    /*Background*/

    .background {
        width: 100%;
    }
    .background * {
        width: 100%;
    }
    .background__image {
        position: relative;
        display: inline-block;
        background: url(../img/background-full.png) top center no-repeat;
        background-size: cover;
        height: 870px;
    }
    .background__sliders {
        position: absolute;
        top: 203px;
        height: 246px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .background__about {
        position: absolute;
        top: 548px;
        height: 598px;
        background: -moz-linear-gradient(bottom, #33253a, #745083);
        background: linear-gradient(to bottom, #745082, #33263a);
        border-top: 1px solid #2c2c2c;
    }
    .background__white {
        position: absolute;
        top: 1147px;
        height: 786px;
        background-color: #f9f9f9;
    }
    .background__sprites {
        height: 228px;
        position: absolute;
        top: 1933px;
        background-color: #f9f9f9;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #d8d8d8;
    }
    .background__gray {
        position: absolute;
        height: 672px;
        top: 2163px;
        background-color: #ececec;
    }
    .background__footer {
        position: absolute;
        top: 2803px;
        height: 233px;
        background: url(../img/footer.png) bottom center no-repeat;
    }

    /*Content*/

    .content {
        position: absolute;
        width: 960px;
        left: 50%;
        margin-left: -482px;
        top: 51px;
    }

    /*Logo*/

    .content__logo {
        margin-left: 406px;
    }

    /*Logo*/

    /*Header*/

    .header {
        position: relative;
    }
    .menu {
        position: absolute;
        top: 91px;
        left: 115px;
    }
    .menu__item {
        display: inline-block;
        z-index: 1;
    }
    .menu__item:nth-child(1) {
        position: absolute;
        top: -11px;
        left: 244px;
        width: 247px;
        height: 47px;
        text-align: center;
        line-height: 2.2;
        background: rgba(61, 48, 69, 0.8);
        border-radius: 10px 10px 0 0;
    }
    .menu__item:nth-child(2) {
        position: absolute;
        top: 35px;
        left: 244px;
        width: 247px;
        height: 41px;
        text-align: center;
        line-height: 1.7;
        background: rgba(61, 48, 69, 0.8);
    }
    .menu__item:nth-child(3) {
        position: absolute;
        top: 75px;
        left: 244px;
        width: 247px;
        height: 47px;
        text-align: center;
        line-height: 1.9;
        background: rgba(61, 48, 69, 0.8);
    }
    .menu__item:nth-child(4) {
        position: absolute;
        top: 121px;
        left: 244px;
        width: 247px;
        height: 43px;
        text-align: center;
        line-height: 1.7;
        background: rgba(61, 48, 69, 0.8);
    }
    .menu__item:nth-child(5) {
        position: absolute;
        top: 163px;
        right: -491px;
        width: 247px;
        height: 41px;
        text-align: center;
        line-height: 1.7;
        background: rgba(61, 48, 69, 0.8);
    }
    .menu__item:nth-child(6) {
        position: absolute;
        right: -491px;
        top: 203px;
        width: 247px;
        height: 43px;
        padding-top: 1px;
        line-height: 1.65;
        text-align: center;
        background: rgba(61, 48, 69, 0.8);
        border-radius: 0 0 10px 10px;
    }
    .menu__item a {
        font-size: 24px;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .menu__item:hover {
        border-bottom: 2px solid #edbfff;
        margin-bottom: -2px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    /*Header*/

    /*Sliders*/

    .sliders {
        position: relative;
        margin-top: 307px;
        margin-left: -71px;
    }
    .sliders__left {
        position: absolute;
        left: 313px;
        top: -110px;
    }
    .sliders__right {
        position: absolute;
        top: -110px;
        left: 771px;
    }
    .sliders__phone {
        position: absolute;
        bottom: -82px;
        left: 571px;
        z-index: 0;
    }
    .sliders__info {
        width: 268px;
        position: absolute;
        top: -123px;
        left: 353px;
    }
    .sliders__info h2 {
        margin-bottom: 2px;
        font-size: 37px;
        letter-spacing: -0.3px;
        color: #fefefe;
    }
    .sliders__info h4 {
        font-size: 18px;
        color: #edbfff;
        letter-spacing: -0.03px;
    }
    .sliders__info p {
        margin-top: 6px;
        font-size: 16px;
        font-family: "Open Sans Light", Arial, sans-serif;
        color: white;
        line-height: 26px;
        letter-spacing: -0.45px;
    }
    .sliders__nav {
        width: 88px;
        position: absolute;
        top: 54px;
        right: 426px;
    }
    .nav__item {
        margin: 0;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    /*Sliders*/

    /*About*/

    .about {
        position: relative;
        margin-top: 812px;
        margin-left: 62px;
    }
    .about__first {
        position: absolute;
        display: inline-block;
        width: 151px;
        color: white;
        left: 264px;
        top: -299px;
    }
    .about__second {
        position: absolute;
        top: -142px;
        left: 264px;
        display: inline-block;
        width: 151px;
        color: white;
    }
    .about__third {
        position: absolute;
        display: inline-block;
        width: 151px;
        top: 19px;
        left: 264px;
        color: white;
    }
    .sprite_first {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -53px;
        top: -12px;
    }
    .sprite_first:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }
    .sprite_second {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -52px;
        top: -12px;
    }
    .sprite_second:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }
    .sprite_third {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -53px;
        top: -12px;
    }
    .sprite_third:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }
    .about h6 {
        font-size: 24px;
        text-transform: uppercase;
    }
    .about p {
        font-size: 16px;
        font-family: "Open Sans Light", Arial;
        width: 367px;
        margin-top: 5px;
        line-height: 24px;
        letter-spacing: -0.08px;
    }
    .about a {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        float: right;
        margin-right: -219px;
        margin-top: 14px;
    }
    .about a:hover {
        text-shadow: 1px 1px 2px white;
    }
    /*About*/

    /*Testimonials*/

    .testimonials {
        position: relative;
        top: 264px;
    }
    .testimonials__nav {
        position: absolute;
        top: 325px;
        left: 448px;
    }
    .testimonials__item {
        margin: 0;
        background-color: black;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .testimonials__testimonial {
        width: 415px;
        height: 272px;
        background: white;
        border: 1px solid #f6f6f6;
        position: absolute;
        top: 27px;
        left: 286px;
    }
    .testimonials__testimonial img {
        position: absolute;
        top: 18px;
        left: -25px;
    }
    .testimonials__testimonial h6 {
        width: 209px;
        text-transform: uppercase;
        font-size: 29px;
        color: #454545;
        padding-top: 28px;
        padding-left: 39px;
        letter-spacing: 0.2px;
    }
    .testimonials__testimonial span {
        color: #edbfff;
    }
    .testimonials__testimonial p span {
        color: black;
    }
    .testimonials__testimonial p {
        position: absolute;
        left: 39px;
        top: 73px;
        width: 346px;
        height: 168px;
        font-family: "Open Sans Light", sans-serif;
        color: #040202;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.1px;
    }
    .testimonials__blog {
        font-family: "Open Sans Light", sans-serif;
        position: absolute;
        right: 163px;
        top: 391px;
        width: 473px;
        height: 273px;
        display: inline-block;
    }
    .testimonials__blog h6 {
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 30px;
        margin-top: -1px;
        margin-left: 1px;
    }
    .photo_back {
        background: url(../img/sprite_back.png) 0 0 no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 45px;
        left: 2px;
    }
    .photo_back_middle {
        background: url(../img/sprite_back.png) 0 -48px no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 112px;
        left: 2px;
    }
    .photo_back_last {
        background: url(../img/sprite_back.png) 0 -96px no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 177px;
        left: 2px;
    }
    .textblock {
        margin-bottom: 35px;
    }
    .bold {
        font-family: "open sans extrabold";
    }
    .testimonials__blog p {
        width: auto;
        margin-left: 68px;
        margin-top: 28px;
        line-height: 1px;
    }
    .testimonials__blog a {
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 247px;
        left: 252px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 18px;
    }
    /*Testimonials*/

    /*Logos*/

    .logos {
        background: url(../img/logos_480.png) 0 0 no-repeat;
        position: relative;
        top: 1046px;
        left: 230px;
        height: 65px;
        margin-left: 80px;
        padding-top: 115px;
    }
    /*Logos*/
    .pingbuller {
        font-family: "Open Sans Light", Arial, sans-serif;
        margin-top: 901px;
        margin-left: 1px;
    }
    .first_row {
        top: 2139px;
        left: 261px;
        position: absolute;
        display: inline-block;
        width: 380px;
    }
    .first_row h6 {
        padding-top: 22px;
        font-family: "League Gothic", Arial, sans-serif;
        font-size: 24px;
        color: #454545;
        letter-spacing: -0.6px;
        padding-bottom: 0px;
    }
    .first_row span {
        color: #b9b9b9;
    }
    .first_row .copyright {
        margin-top: 10px;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 16px;
        color: rgb(197, 197, 197);
        margin-bottom: 8px;
    }
    .first_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }
    .middle_row {
        position: absolute;
        display: inline-block;
        width: 446px;
        margin-left: 260px;
        margin-top: 426px;
        margin-bottom: 12px;
        letter-spacing: -0.1px;
    }
    .middle_row h6 {
        padding-bottom: 9px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 24px;
        color: #454545;
    }
    .middle_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }
    .last_row {
        position: absolute;
        display: inline-block;
        width: 459px;
        margin-left: 260px;
        margin-top: 614px;
        letter-spacing: -0.1px;
    }
    .last_row h6 {
        padding-bottom: 9px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 24px;
        color: #454545;
    }
    .last_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }

    /*Footer*/

    .footer {
        position: relative;
        top: 146px;
        left: 116px;
    }
    .footer__menu {

    }
    .footer__item {
        display: inline-block;
        margin-top: 688px;
        margin-left: 54px;
    }
    .footer__item a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }
    .footer__item:nth-child(1) {
        position: absolute;
        top: 41px;
        left: 95px;
    }
    .footer__item:nth-child(2) {
        position: absolute;
        top: 41px;
        left: 149px;
    }
    .footer__item:nth-child(3) {
        position: absolute;
        top: 41px;
        left: 210px;
    }
    .footer__item:nth-child(4) {
        position: absolute;
        top: 41px;
        left: 262px;
    }
    .footer__item:nth-child(5) {
        position: absolute;
        top: 41px;
        left: 343px;

    }
    .footer__item:nth-child(6) {
        position: absolute;
        top: 41px;
        left: 441px;
    }
    .footer p {
        position: absolute;
        top: 786px;
        left: 297px;
        font-size: 12px;
        font-family: "Open Sans Light", Arial, sans-serif;
        color: white;
    }
    .footer span {
        font-family: "open sans extrabold", sans-serif;
    }
}
