@media (max-width:775px) {
    body {
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
    }
    .none {
        display: none;
    }

    /*Background*/

    .background {
        width: 100%;
    }
    .background * {
        width: 100%;
    }
    .background__image {
        position: relative;
        display: inline-block;
        background: url(../img/background-full.png) top center no-repeat;
        background-size: cover;
        height: 870px;
    }
    .background__sliders {
        position: absolute;
        top: 244px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .background__about {
        position: absolute;
        top: 798px;
        height: 341px;
        background: linear-gradient(to bottom, #745082, #33263a);
        border-top: 1px solid #2c2c2c;
    }
    .background__white {
        position: absolute;
        top: 1141px;
        height: 488px;
        background-color: #f9f9f9;
    }
    .background__sprites {
        height: 119px;
        position: absolute;
        top: 1627px;
        background-color: #f9f9f9;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #d8d8d8;
    }
    .background__gray {
        position: absolute;
        height: 396px;
        top: 1748px;
        background-color: #ececec;
    }
    .background__footer {
        position: absolute;
        top: 2112px;
        height: 233px;
        background: url(../img/footer.png) bottom center no-repeat;
    }

    /*Content*/

    .content {
        position: absolute;
        width: 960px;
        left: 50%;
        margin-left: -482px;
        top: 51px;
    }

    /*Logo*/
    .content__logo {
        margin-left: 118px;
    }
    /*Logo*/

    /*Header*/

    header {
        position: relative;
    }
    menu {
        position: absolute;
        top: 91px;
        left: 115px;
    }
    .menu__item {
        display: inline-block;
    }
    .menu__item:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 3px;
    }
    .menu__item:nth-child(2) {
        position: absolute;
        left: 91px;
    }
    .menu__item:nth-child(3) {
        position: absolute;
        left: 185px;
    }
    .menu__item:nth-child(4) {
        position: absolute;
        left: 270px;
    }
    .menu__item:nth-child(5) {
        position: absolute;
        right: -477px;
    }
    .menu__item:nth-child(6) {
        position: absolute;
        right: -634px;
    }
    .menu__item a {
        font-size: 24px;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .menu__item:hover {
        border-bottom: 2px solid #edbfff;
        margin-bottom: -2px;
    }
    /*Header*/

    /*Sliders*/

    .sliders {
        position: relative;
        margin-top: 307px;
        margin-left: -71px;
    }
    .sliders__left {
        position: absolute;
        left: 168px;
        top: 8px;
    }
    .sliders__right {
        position: absolute;
        top: 8px;
        left: 915px;
    }
    .sliders__phone {
        position: absolute;
        bottom: -238px;
        left: 616px;
    }
    .sliders__info {
        width: 268px;
        position: absolute;
        top: -78px;
        left: 213px;
    }
    .sliders__info h2 {
        margin-bottom: 10px;
        font-size: 48px;
        letter-spacing: -0.3px;
        color: #fefefe;
    }
    .sliders__info h4 {
        font-size: 24px;
        color: #edbfff;
        letter-spacing: -0.03px;
    }
    .sliders__info p {
        margin-top: 6px;
        font-size: 16px;
        font-family: "Open Sans Light", Arial, sans-serif;
        color: white;
        line-height: 26px;
        letter-spacing: -0.45px;
    }
    .sliders__info span {
        display: none;
    }
    .sliders nav {
        width: 88px;
        position: absolute;
        top: 263px;
        right: 231px;
    }
    .nav__item {
        margin: 0;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    /*Sliders*/

    /*About*/

    .about {
        position: relative;
        margin-top: 812px;
        margin-left: 62px;
    }
    .about__first {
        position: absolute;
        display: inline-block;
        width: 151px;
        color: white;
        left: 118px;
        top: -48px;
    }
    .about__second {
        position: absolute;
        top: -48px;
        left: 370px;
        display: inline-block;
        width: 151px;
        color: white;
    }
    .about__third {
        position: absolute;
        display: inline-block;
        width: 151px;
        top: -49px;
        left: 631px;
        color: white;
    }
    .sprite_first {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -53px;
        top: -5px;
    }
    .sprite_first:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }
    .sprite_second {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -52px;
        top: -5px;
    }
    .sprite_second:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }
    .sprite_third {
        background: url(../img/sprite.png) 0 0 no-repeat;
        width: 27px;
        height: 27px;
        margin-top: 23px;
        position: absolute;
        left: -53px;
        top: -5px;
    }
    .sprite_third:hover {
        background-position: 0 -29px;
        transition: 0.5s;
    }

    .about h6 {
        font-size: 24px;
        text-transform: uppercase;
    }
    .about p {
        font-size: 16px;
        font-family: "Open Sans Light", Arial;
        width: 154px;
        margin-top: 5px;
        line-height: 24px;
        letter-spacing: 0.02px;
    }
    .about a {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        float: right;
        margin-right: 4px;
        margin-top: 6px;
    }
    .about a:hover {
        text-shadow: 1px 1px 2px white;
    }
    /*About*/

    /*Testimonials*/

    .testimonials {
        position: relative;
        top: 264px;
    }
    .testimonials nav {
        position: absolute;
        top: 350px;
        left: 257px;
    }
    .testimonials__item {
        margin: 0;
        background-color: black;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .testimonials__testimonial {
        width: 313px;
        height: 272px;
        background: white;
        border: 1px solid #f6f6f6;
        position: absolute;
        top: 52px;
        left: 140px;
    }
    .testimonials__testimonial img {
        position: absolute;
        top: 18px;
        left: -25px;
    }
    .testimonials__testimonial h6 {
        width: 87px;
        text-transform: uppercase;
        font-size: 24px;
        color: #454545;
        padding-top: 28px;
        padding-left: 39px;
    }
    .testimonials__testimonial span {
        color: #edbfff;
    }
    .testimonials__testimonial p {
        position: absolute;
        left: 39px;
        top: 86px;
        width: 257px;
        height: 168px;
        font-family: "Open Sans Light", sans-serif;
        color: #040202;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.07px;
    }
    .testimonials__blog {
        font-family: "Open Sans Light", sans-serif;
        position: absolute;
        right: -24px;
        top: 83px;
        width: 473px;
        height: 273px;
        display: inline-block;
    }
    .testimonials__blog h6 {
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 30px;
        margin-top: -1px;
        margin-left: 1px;
    }
    .photo_back {
        background: url(../img/sprite_back.png) 0 0 no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 45px;
        left: 2px;
    }
    .photo_back_middle {
        background: url(../img/sprite_back.png) 0 -48px no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 112px;
        left: 2px;
    }
    .photo_back_last {
        background: url(../img/sprite_back.png) 0 -96px no-repeat;
        width: 49px;
        height: 49px;
        position: absolute;
        top: 177px;
        left: 2px;
    }
    .textblock {
        margin-bottom: 37px;
    }
    .bold {
        font-family: "open sans extrabold";
    }
    .testimonials__blog p {
        width: auto;
        margin-left: 68px;
        margin-top: 29px;
        line-height: 0px;
    }
    .testimonials__blog a {
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 255px;
        left: 348px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 18px;
    }
    /*Testimonials*/

    /*Logos*/

    .logos {
        background: url(../img/logos_768.png) 0 0 no-repeat;
        position: relative;
        top: 730px;
        left: 50px;
        height: 65px;
        margin-left: 70px;
        padding-right: 10px;
    }
    /*Logos*/

    .pingbuller {
        font-family: "Open Sans Light", Arial, sans-serif;
        margin-top: 901px;
        margin-left: 1px;
    }
    .first_row {
        top: 1767px;
        left: 117px;
        position: absolute;
        display: inline-block;
        width: 248px;
    }
    .first_row h6 {
        padding-top: 22px;
        font-family: "League Gothic", Arial, sans-serif;
        font-size: 24px;
        color: #454545;
        letter-spacing: -0.6px;
        padding-bottom: 0px;
    }
    .first_row span {
        color: #b9b9b9;
    }
    .first_row .copyright {
        margin-top: 10px;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 16px;
        color: rgb(197, 197, 197);
        margin-bottom: 8px;
    }
    .first_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }
    .middle_row {
        position: absolute;
        display: inline-block;
        width: 216px;
        margin-left: 380px;
        margin-top: -41px;
        margin-bottom: 12px;
        letter-spacing: -0.06px;
    }
    .middle_row h6 {
        padding-bottom: 9px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 24px;
        color: #454545;
    }
    .middle_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }
    .last_row {
        position: absolute;
        display: inline-block;
        width: 216px;
        margin-left: 645px;
        margin-top: -40px;
        letter-spacing: -0.08px;
    }
    .last_row h6 {
        padding-bottom: 9px;
        font-family: "League Gothic", Arial, Tahoma, sans-serif;
        font-size: 24px;
        color: #454545;
    }
    .last_row p {
        font-family: 'Open Sans Light', sans-serif;
        color: rgb(120, 120, 120);
        font-size: 16px;
        line-height: 1.5;
    }

    /*Footer*/

    footer {
        position: relative;
        top: 261px;
        left: 116px;
    }
    .footer__menu {

    }
    .footer__item {
        display: inline-block;
    }
    .footer__item a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }
    .footer__item:nth-child(1) {
        position: absolute;
        top: 41px;
        left: 1px;
    }
    .footer__item:nth-child(2) {
        position: absolute;
        top: 41px;
        left: 75px;
    }
    .footer__item:nth-child(3) {
        position: absolute;
        top: 41px;
        left: 154px;
    }
    .footer__item:nth-child(4) {
        position: absolute;
        top: 41px;
        left: 224px;
    }
    .footer__item:nth-child(5) {
        position: absolute;
        top: 41px;
        left: 324px;

    }
    .footer__item:nth-child(6) {
        position: absolute;
        top: 41px;
        left: 441px;
    }
    footer p {
        position: absolute;
        top: 97px;
        left: 591px;
        font-size: 12px;
        font-family: "Open Sans Light", Arial, sans-serif;
        color: white;
    }
    footer span {
        font-family: "open sans extrabold", sans-serif;
    }
}
